# CA-1

### This is a video game Dataset and this data is collected in the year 2016 and i have imported this data from the kaaggle.

### This dataset consists of the different types of PC video games globaly and this data shows the name of the game,how many are playing this games in globaly,year of release and publisher etc...

# Attribute Information

##### Name : Name of the video game
##### Platform : In which platform the game will be available
##### Year_of_Release : In which year the game was released
##### Genre : Shows which type of game is it
##### Publisher : Tells who is the publisher
##### NA_Sales : Shows the NASALES of the data
##### EU_Sales : Shows the EUSALES of the data
##### JP_Sales : Shows the JPSALES of the data
##### Other_Sales : Shows the other sales
##### Global_Sales : Shows the Global Sales of the data
##### Critic_Score : Shows the critic score of the data
##### Critic_Count : Shows the critic count of the data
##### User_Score : Shows the user score 
##### User_Count : Tells the user count
##### Developer : Shows the developer of the game
##### Rating : Shows the rating of the game

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
a=pd.read_csv("C:/Users/Dheeraj Bobby/OneDrive/Desktop/EDA project/video_game_dataset/Video_Games_Sales_as_at_22_Dec_2016.csv")
a

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8.0,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8.0,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16714,Samurai Warriors: Sanada Maru,PS3,2016.0,Action,Tecmo Koei,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16715,LMA Manager 2007,X360,2006.0,Sports,Codemasters,0.00,0.01,0.00,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16716,Haitaka no Psychedelica,PSV,2016.0,Adventure,Idea Factory,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16717,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16718,Winning Post 8 2016,PSV,2016.0,Simulation,Tecmo Koei,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16719 entries, 0 to 16718
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             16717 non-null  object
 1   Platform         16719 non-null  object
 2   Year_of_Release  16450 non-null  float64
 3   Genre            16717 non-null  object
 4   Publisher        16665 non-null  object
 5   NA_Sales         16719 non-null  float64
 6   EU_Sales         16719 non-null  float64
 7   JP_Sales         16719 non-null  float64
 8   Other_Sales      16719 non-null  float64
 9   Global_Sales     16719 non-null  float64
 10  Critic_Score     8137 non-null   float64
 11  Critic_Count     8137 non-null   float64
 12  User_Score       7590 non-null   float64
 13  User_Count       7590 non-null   float64
 14  Developer        10096 non-null  object
 15  Rating           9950 non-null   object
dtypes: float64(10), object(6)
memory usage: 2.0+ MB

In [5]:
a.describe()

,Year_of_Release,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count
count,16450.000000,16719.000000,16719.000000,16719.000000,16719.000000,16719.000000,8137.000000,8137.000000,7590.000000,7590.000000
mean,2006.487356,0.263330,0.145025,0.077602,0.047332,0.533543,68.967679,26.360821,7.125046,162.229908
std,5.878995,0.813514,0.503283,0.308818,0.186710,1.547935,13.938165,18.980495,1.500006,561.282326
min,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000,13.000000,3.000000,0.000000,4.000000
25%,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000,60.000000,12.000000,6.400000,10.000000
50%,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000,71.000000,21.000000,7.500000,24.000000
75%,2010.000000,0.240000,0.110000,0.040000,0.030000,0.470000,79.000000,36.000000,8.200000,81.000000
max,2020.000000,41.360000,28.960000,10.220000,10.570000,82.530000,98.000000,113.000000,9.700000,10665.000000

In [6]:
a.isnull().sum()

Name                  2
Platform              0
Year_of_Release     269
Genre                 2
Publisher            54
NA_Sales              0
EU_Sales              0
JP_Sales              0
Other_Sales           0
Global_Sales          0
Critic_Score       8582
Critic_Count       8582
User_Score         9129
User_Count         9129
Developer          6623
Rating             6769
dtype: int64

In [7]:
x,y=a.shape
print("There are {} rows and {} columns in the Dataset".format(x,y))

There are 16719 rows and 16 columns in the Dataset

In [8]:
a.drop(['Rating'],inplace=True,axis=1)

In [9]:
a.drop(["Developer"],inplace=True,axis=1)

In [10]:
a.drop(["Publisher"],inplace=True,axis=1)

In [11]:
a

,Name,Platform,Year_of_Release,Genre,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count
0,Wii Sports,Wii,2006.0,Sports,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8.0,322.0
1,Super Mario Bros.,NES,1985.0,Platform,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0
3,Wii Sports Resort,Wii,2009.0,Sports,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8.0,192.0
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
16714,Samurai Warriors: Sanada Maru,PS3,2016.0,Action,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN
16715,LMA Manager 2007,X360,2006.0,Sports,0.00,0.01,0.00,0.00,0.01,NaN,NaN,NaN,NaN
16716,Haitaka no Psychedelica,PSV,2016.0,Adventure,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN
16717,Spirits & Spells,GBA,2003.0,Platform,0.01,0.00,0.00,0.00,0.01,NaN,NaN,NaN,NaN
16718,Winning Post 8 2016,PSV,2016.0,Simulation,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN

In [12]:
a['Critic_Score'].replace(np.nan,'0', inplace  = True)

In [13]:
a

,Name,Platform,Year_of_Release,Genre,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count
0,Wii Sports,Wii,2006.0,Sports,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8.0,322.0
1,Super Mario Bros.,NES,1985.0,Platform,29.08,3.58,6.81,0.77,40.24,0,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0
3,Wii Sports Resort,Wii,2009.0,Sports,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8.0,192.0
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,11.27,8.89,10.22,1.00,31.37,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
16714,Samurai Warriors: Sanada Maru,PS3,2016.0,Action,0.00,0.00,0.01,0.00,0.01,0,NaN,NaN,NaN
16715,LMA Manager 2007,X360,2006.0,Sports,0.00,0.01,0.00,0.00,0.01,0,NaN,NaN,NaN
16716,Haitaka no Psychedelica,PSV,2016.0,Adventure,0.00,0.00,0.01,0.00,0.01,0,NaN,NaN,NaN
16717,Spirits & Spells,GBA,2003.0,Platform,0.01,0.00,0.00,0.00,0.01,0,NaN,NaN,NaN
16718,Winning Post 8 2016,PSV,2016.0,Simulation,0.00,0.00,0.01,0.00,0.01,0,NaN,NaN,NaN

In [14]:
a['Critic_Count'].replace(np.nan,'0', inplace  = True)

In [15]:
a

,Name,Platform,Year_of_Release,Genre,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count
0,Wii Sports,Wii,2006.0,Sports,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8.0,322.0
1,Super Mario Bros.,NES,1985.0,Platform,29.08,3.58,6.81,0.77,40.24,0,0,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0
3,Wii Sports Resort,Wii,2009.0,Sports,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8.0,192.0
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,11.27,8.89,10.22,1.00,31.37,0,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
16714,Samurai Warriors: Sanada Maru,PS3,2016.0,Action,0.00,0.00,0.01,0.00,0.01,0,0,NaN,NaN
16715,LMA Manager 2007,X360,2006.0,Sports,0.00,0.01,0.00,0.00,0.01,0,0,NaN,NaN
16716,Haitaka no Psychedelica,PSV,2016.0,Adventure,0.00,0.00,0.01,0.00,0.01,0,0,NaN,NaN
16717,Spirits & Spells,GBA,2003.0,Platform,0.01,0.00,0.00,0.00,0.01,0,0,NaN,NaN
16718,Winning Post 8 2016,PSV,2016.0,Simulation,0.00,0.00,0.01,0.00,0.01,0,0,NaN,NaN

In [16]:
a.isnull().sum()

Name                  2
Platform              0
Year_of_Release     269
Genre                 2
NA_Sales              0
EU_Sales              0
JP_Sales              0
Other_Sales           0
Global_Sales          0
Critic_Score          0
Critic_Count          0
User_Score         9129
User_Count         9129
dtype: int64

In [17]:
a

,Name,Platform,Year_of_Release,Genre,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count
0,Wii Sports,Wii,2006.0,Sports,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8.0,322.0
1,Super Mario Bros.,NES,1985.0,Platform,29.08,3.58,6.81,0.77,40.24,0,0,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0
3,Wii Sports Resort,Wii,2009.0,Sports,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8.0,192.0
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,11.27,8.89,10.22,1.00,31.37,0,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
16714,Samurai Warriors: Sanada Maru,PS3,2016.0,Action,0.00,0.00,0.01,0.00,0.01,0,0,NaN,NaN
16715,LMA Manager 2007,X360,2006.0,Sports,0.00,0.01,0.00,0.00,0.01,0,0,NaN,NaN
16716,Haitaka no Psychedelica,PSV,2016.0,Adventure,0.00,0.00,0.01,0.00,0.01,0,0,NaN,NaN
16717,Spirits & Spells,GBA,2003.0,Platform,0.01,0.00,0.00,0.00,0.01,0,0,NaN,NaN
16718,Winning Post 8 2016,PSV,2016.0,Simulation,0.00,0.00,0.01,0.00,0.01,0,0,NaN,NaN

In [19]:
a.drop(["User_Score"],inplace=True,axis=1)

In [20]:
a

,Name,Platform,Year_of_Release,Genre,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Count
0,Wii Sports,Wii,2006.0,Sports,41.36,28.96,3.77,8.45,82.53,76.0,51.0,322.0
1,Super Mario Bros.,NES,1985.0,Platform,29.08,3.58,6.81,0.77,40.24,0,0,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,15.68,12.76,3.79,3.29,35.52,82.0,73.0,709.0
3,Wii Sports Resort,Wii,2009.0,Sports,15.61,10.93,3.28,2.95,32.77,80.0,73.0,192.0
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,11.27,8.89,10.22,1.00,31.37,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
16714,Samurai Warriors: Sanada Maru,PS3,2016.0,Action,0.00,0.00,0.01,0.00,0.01,0,0,NaN
16715,LMA Manager 2007,X360,2006.0,Sports,0.00,0.01,0.00,0.00,0.01,0,0,NaN
16716,Haitaka no Psychedelica,PSV,2016.0,Adventure,0.00,0.00,0.01,0.00,0.01,0,0,NaN
16717,Spirits & Spells,GBA,2003.0,Platform,0.01,0.00,0.00,0.00,0.01,0,0,NaN
16718,Winning Post 8 2016,PSV,2016.0,Simulation,0.00,0.00,0.01,0.00,0.01,0,0,NaN

In [21]:
a["Year_of_Release"].replace(np.nan,'0',inplace=True)

In [22]:
a["User_Count"].replace(np.nan,'0',inplace=True)

In [23]:
a

,Name,Platform,Year_of_Release,Genre,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Count
0,Wii Sports,Wii,2006.0,Sports,41.36,28.96,3.77,8.45,82.53,76.0,51.0,322.0
1,Super Mario Bros.,NES,1985.0,Platform,29.08,3.58,6.81,0.77,40.24,0,0,0
2,Mario Kart Wii,Wii,2008.0,Racing,15.68,12.76,3.79,3.29,35.52,82.0,73.0,709.0
3,Wii Sports Resort,Wii,2009.0,Sports,15.61,10.93,3.28,2.95,32.77,80.0,73.0,192.0
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,11.27,8.89,10.22,1.00,31.37,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
16714,Samurai Warriors: Sanada Maru,PS3,2016.0,Action,0.00,0.00,0.01,0.00,0.01,0,0,0
16715,LMA Manager 2007,X360,2006.0,Sports,0.00,0.01,0.00,0.00,0.01,0,0,0
16716,Haitaka no Psychedelica,PSV,2016.0,Adventure,0.00,0.00,0.01,0.00,0.01,0,0,0
16717,Spirits & Spells,GBA,2003.0,Platform,0.01,0.00,0.00,0.00,0.01,0,0,0
16718,Winning Post 8 2016,PSV,2016.0,Simulation,0.00,0.00,0.01,0.00,0.01,0,0,0

In [24]:
a.isnull().sum()

Name               2
Platform           0
Year_of_Release    0
Genre              2
NA_Sales           0
EU_Sales           0
JP_Sales           0
Other_Sales        0
Global_Sales       0
Critic_Score       0
Critic_Count       0
User_Count         0
dtype: int64

In [30]:
n=pd.isnull(a["Name"])

In [31]:
a[n]

,Name,Platform,Year_of_Release,Genre,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Count
659,NaN,GEN,1993.0,NaN,1.78,0.53,0.00,0.08,2.39,0,0,0
14246,NaN,GEN,1993.0,NaN,0.00,0.00,0.03,0.00,0.03,0,0,0

In [33]:
e=pd.isnull(a["Name"])

In [34]:
a[e]

,Name,Platform,Year_of_Release,Genre,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Count
659,NaN,GEN,1993.0,NaN,1.78,0.53,0.00,0.08,2.39,0,0,0
14246,NaN,GEN,1993.0,NaN,0.00,0.00,0.03,0.00,0.03,0,0,0

In [40]:
a

,Name,Platform,Year_of_Release,Genre,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Count
0,Wii Sports,Wii,2006.0,Sports,41.36,28.96,3.77,8.45,82.53,76.0,51.0,322.0
1,Super Mario Bros.,NES,1985.0,Platform,29.08,3.58,6.81,0.77,40.24,0,0,0
2,Mario Kart Wii,Wii,2008.0,Racing,15.68,12.76,3.79,3.29,35.52,82.0,73.0,709.0
3,Wii Sports Resort,Wii,2009.0,Sports,15.61,10.93,3.28,2.95,32.77,80.0,73.0,192.0
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,11.27,8.89,10.22,1.00,31.37,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
16714,Samurai Warriors: Sanada Maru,PS3,2016.0,Action,0.00,0.00,0.01,0.00,0.01,0,0,0
16715,LMA Manager 2007,X360,2006.0,Sports,0.00,0.01,0.00,0.00,0.01,0,0,0
16716,Haitaka no Psychedelica,PSV,2016.0,Adventure,0.00,0.00,0.01,0.00,0.01,0,0,0
16717,Spirits & Spells,GBA,2003.0,Platform,0.01,0.00,0.00,0.00,0.01,0,0,0
16718,Winning Post 8 2016,PSV,2016.0,Simulation,0.00,0.00,0.01,0.00,0.01,0,0,0

In [41]:
a.drop(659)

,Name,Platform,Year_of_Release,Genre,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Count
0,Wii Sports,Wii,2006.0,Sports,41.36,28.96,3.77,8.45,82.53,76.0,51.0,322.0
1,Super Mario Bros.,NES,1985.0,Platform,29.08,3.58,6.81,0.77,40.24,0,0,0
2,Mario Kart Wii,Wii,2008.0,Racing,15.68,12.76,3.79,3.29,35.52,82.0,73.0,709.0
3,Wii Sports Resort,Wii,2009.0,Sports,15.61,10.93,3.28,2.95,32.77,80.0,73.0,192.0
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,11.27,8.89,10.22,1.00,31.37,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
16714,Samurai Warriors: Sanada Maru,PS3,2016.0,Action,0.00,0.00,0.01,0.00,0.01,0,0,0
16715,LMA Manager 2007,X360,2006.0,Sports,0.00,0.01,0.00,0.00,0.01,0,0,0
16716,Haitaka no Psychedelica,PSV,2016.0,Adventure,0.00,0.00,0.01,0.00,0.01,0,0,0
16717,Spirits & Spells,GBA,2003.0,Platform,0.01,0.00,0.00,0.00,0.01,0,0,0
16718,Winning Post 8 2016,PSV,2016.0,Simulation,0.00,0.00,0.01,0.00,0.01,0,0,0

In [42]:
a.drop(14246)

,Name,Platform,Year_of_Release,Genre,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Count
0,Wii Sports,Wii,2006.0,Sports,41.36,28.96,3.77,8.45,82.53,76.0,51.0,322.0
1,Super Mario Bros.,NES,1985.0,Platform,29.08,3.58,6.81,0.77,40.24,0,0,0
2,Mario Kart Wii,Wii,2008.0,Racing,15.68,12.76,3.79,3.29,35.52,82.0,73.0,709.0
3,Wii Sports Resort,Wii,2009.0,Sports,15.61,10.93,3.28,2.95,32.77,80.0,73.0,192.0
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,11.27,8.89,10.22,1.00,31.37,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
16714,Samurai Warriors: Sanada Maru,PS3,2016.0,Action,0.00,0.00,0.01,0.00,0.01,0,0,0
16715,LMA Manager 2007,X360,2006.0,Sports,0.00,0.01,0.00,0.00,0.01,0,0,0
16716,Haitaka no Psychedelica,PSV,2016.0,Adventure,0.00,0.00,0.01,0.00,0.01,0,0,0
16717,Spirits & Spells,GBA,2003.0,Platform,0.01,0.00,0.00,0.00,0.01,0,0,0
16718,Winning Post 8 2016,PSV,2016.0,Simulation,0.00,0.00,0.01,0.00,0.01,0,0,0

In [45]:
k=a["Name"].isnull()

In [46]:
a[k]

,Name,Platform,Year_of_Release,Genre,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Count
659,NaN,GEN,1993.0,NaN,1.78,0.53,0.00,0.08,2.39,0,0,0
14246,NaN,GEN,1993.0,NaN,0.00,0.00,0.03,0.00,0.03,0,0,0